.mainContainer {
  margin-top: 3em;
  padding-left: 2em;
}

.phoneUserWarning {
  display: block;
}

@media (min-width: 576px) {
  .section-line {
    background-color: rgb(211,211,211);
    width: 1.2rem;
    height: 8rem;
    margin-left: 1px;
  }

  // 如果使用者螢幕 width > 576px 則不顯示警告。
  #phoneUserWarning {
    display: none;
  }
}

table, tr, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}

blockquote {
  color: gray;
  font-style: italic;
}

.card {
  margin: 1.2em;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shadow {
  border-radius: 4px;
  box-shadow: 7px 10px 7px 2px;
}

#theText {
  overflow: auto;
}